doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    title Watchfin Service
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/signin.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    //link(href='css/sticky-footer-navbar.css', rel='stylesheet')
    script(src='lib/jquery.min.js')
    script(src='lib/underscore-min.js')
    script(src='lib/bootstrap.min.js')
    script(src='lib/backbone-min.js')
    script(src='js/model.js')
    script(src='js/view.js')
    //if lt IE 9
      script(src='lib/ie8-responsive-file-warning.js')
    script(src='lib/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    block content