extend layout
block content
    .container
      .row
        .col-md-3.col-sm-3
          form.form-signin
            h2.form-signin-heading Please sign in
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(name='email', type='email', value='test@test.ru', placeholder='Email address', required='', autofocus='')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(name='password',type='password', value='passss', placeholder='Password', required='')
            #autherror.bg-danger test
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        .col-md-9.col-sm-9
          .main-signin
            | About page.
      script.
          $('.form-signin').submit(function(){
          var form = $(this);
          var data = form.serialize();
          $.ajax({
              url: "/",
              method: "POST",
              data: form.serialize(),
              statusCode: {
                  200: function() {
                      window.location.href = "/main";
                  },
                  403: function(jqXHR) {
                      var error = JSON.parse(jqXHR.responseText);
                      $('#autherror', form).html(error.message).show();
                  },
                  500: function(jqXHR) {
                      $('#autherror').hide();
                      var error = JSON.parse(jqXHR.responseText);
                      $('#autherror', form).html(error.message).show();
                  }
              }
          });
          return false;
          });
    // /container
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
