extend layout
block content
    script#AccItem(type='text/template').
        <td class="col-md-8"><%= name %></td>
        <td class="col-md-2"><%= sum %></td>
        <td class="col-md-2"><%= cur %></td>

    script#TransItem(type='text/template').
        <td class="col-md-4"><%= name %></td>
        <td class="col-md-2"><%= sum %></td>
        <td class="col-md-4"><%= category %></td>
        <td class="col-md-2"><%= date %></td>
    // Fixed navbar
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
        // /.nav-collapse
    // Begin page content
    #main.container
      .row
        .col-md-3.col-sm-3
        .col-md-6.col-sm-6
          .panel.panel-default
            .panel-heading
                h3.panel-title Accounts
            .panel-body
                table#AccountsList.table.table-condensed.table-hover
        .col-md-3.col-sm-3
      .row
        .col-md-3.col-sm-3
        .col-md-6.col-sm-6
          .panel.panel-default
            .panel-heading
                h3.panel-title Transactions
            .panel-body
                table#TransactionsList.table.table-condensed.table-hover
        .col-md-3.col-sm-3
    footer.navbar-fixed-bottom.row-fluid
      .navbar-inner
        .container
          p.text-muted Place sticky footer content here.
    script(src='js/main.js')